<!DOCTYPE html>
<html lang="es">
<div class="top-strip"></div>
<head>
    <meta charset="UTF-8">
    <title>PubMed Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="fixed-section">
            <header>
                <h1>PubMed Explorer</h1>
                <p class="subtitle">Busca &lt;artículos de investigación&gt; en PubMed utilizando palabras clave.</p>
            </header>
            <div class="search-section">
                <div class="results-counter">
                    <div class="counter-icon" id="decrease-results">
                        <img src="{{ url_for('static', filename='svgs/minus-solid.svg') }}" alt="Decrease">
                    </div>
                    <span id="results-count">5</span>
                    <div class="counter-icon" id="increase-results">
                        <img src="{{ url_for('static', filename='svgs/plus-solid.svg') }}" alt="Increase">
                    </div>
                </div>
                <form id="search-form" class="search-form">
                    <div class="search-icon">
                        <img src="{{ url_for('static', filename='svgs/magnifying-glass-solid.svg') }}" alt="Search">
                    </div>

                    <input type="text" name="disease" autocomplete="off" placeholder="Ingresa el nombre de la enfermedad" required>
                    <button type="submit">
                        <span class="search-icon">🔍</span> Search Research
                    </button>
                </form>
                <div class="suggestions-carousel">
                    <div class="gradient-left"></div>
                    <div class="carousel-container">
                        <div class="carousel-track"></div>
                    </div>
                    <div class="gradient-right"></div>
                </div>
            </div>
        </div>
        
        <div class="results-wrapper">
            <div id="results" class="results"></div>
        </div>
    </div>
    
    <!-- Loading Animation Container -->
    <div id="loading-overlay">
        <div class="spinner"></div>
    </div>
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>